<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Site de Gantt</title>
</head>
<body>
    <nav>
        <h4>Site test</h4>
    </nav>

    <body>
        <div class=" d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Oups !</span> Page non trouvée.</p>
                <p class="lead">
                    La page que vous recherchez n'existe pas.
                </p>
                <a href="/" class="btn btn-primary">Accueil</a>
            </div>
        </div>
    </body>

    <footer class="footer">
        <div class="text-center p-3">
            <strong>© 2022 Copyright :</strong>
            <a class="text-reset fw-bold"><strong>Jérémy</strong></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>